{% extends "layout.njk" %}

{% block head %}
  <title>Edit Profile</title>
  <link rel="stylesheet" href="/css/min/editprofile.css?v=1.1">
  <script src="/js/min/editprofile.js?v=1"></script>
{% endblock %}

{% block main %}

  <div id="edit-wrapper">
    <div id="settings-wrapper">
      <form id="profile-edit-form" action="/profile/{{ username }}/edit" method="post" autocomplete="off" onsubmit="return beforeSubmit();">
        <div id="sections-wrapper">
          
          <div class="section">
            <div class="section-title" onclick="toggle(this)">
              <svg class="settings-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg>
              profile picture and banner
              <a class="expand-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
              </a>
              <div class="clear"></div>
            </div>
            <div class="section-content">
              <div class="content-wrapper">
                <div class="content-header">
                  Avatar Image
                </div>
                <div class="content-picture-wrapper">
                  <img class="avatar-picture" src="{{ pp }}" alt="profile picture">
                  {% if pv %}
                    <img class="avatar-picture" src="{{ pv }}" alt="under review profile picture">
                    <div class="pp-review">under review</div>
                  {% endif %}
                  <div class="content-picture-info">
                    <div class="info">Minimum image size is 400 x 400px.</div>
                    <a class="upload-button" href="javascript:void(0)" onclick="upload('avatar')">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/></svg>
                      Upload Picture
                    </a>
                  </div>
                </div>
                <div class="content-header">
                  Banner Image
                </div>
                <div class="content-picture-wrapper">
                  <img class="banner-picture" src="{{ pb }}" alt="banner picture">
                  <div class="content-picture-info">
                    <div class="info">Minimum image size is 1000 x 200px.</div>
                    <a class="upload-button" href="javascript:void(0)" onclick="upload('banner')">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3 192 320c0 17.7 14.3 32 32 32s32-14.3 32-32l0-210.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-64z"/></svg>
                      Upload Picture
                    </a>
                  </div>
                </div>
                {% if bv %}
                  <img class="banner-picture" src="{{ bv }}" alt="under review banner picture">
                  <div class="pb-review">under review</div>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div id="top-save">
          <button type="submit" class="save-button" onclick="hasUnsavedChanges = false">Save Profile</button>
        </div>
        <div id="back-button-wrapper">
          <a href="/profile/{{ account.username }}" id="back-button">Back to Profile</a>
        </div>
        <div id="bottom-save">
          <button type="submit" class="save-button" onclick="hasUnsavedChanges = false">Save Profile</button>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
