{% extends "layout.njk" %}

{% block head %}
  <title>HOME - ADMIN TOOLS</title>
  <link rel="stylesheet" href="/css/min/admin.css?v=1.3">
{% endblock %}

{% block main %}
  <ul id="toolList">
    <li><a href="/admin/identifypartners">Identify Partners</a></li>
    <li><a href="/admin/identifyusers">Identify Users</a></li>
    <li><a href="/admin/verifyvids">Verify Videos</a></li>
    <li><a href="/admin/verifyimgs">Verify Images</a></li>
    <li><a href="/admin/trainedmsgs">Trained Msgs</a></li>
    <li><a href="/admin/debuggedmsgs">Debugged Msgs</a></li>
    <li><a href="/admin/podid">Change Model IP</a></li>
  </ul>
{% endblock %}