{% extends "layout.njk" %}

{% block head %}
  <title>Sanctum | A Private Collection</title>
  <link rel="stylesheet" href="/css/index.css?v=0.9">
  <script src="/js/min/index.js?v=1.0"></script>
  <meta name="description" content="A private collection. By invitation only.">
{% endblock %}

{% block main %}
  {{ session.displayname }}
{% endblock %}
