{% extends "layout.njk" %}

{% block head %}
  <title>Sanctum | Choose Your Dashboard</title>
  <link rel="stylesheet" href="/css/min/dashboard.css?v=1.0">
  <script src="/js/min/index.js?v=1.0"></script>
  <meta name="description" content="A private collection. By invitation only.">
{% endblock %}

{% block main %}
    <h1>Choose Your Dashboard</h1>
    <p>You have access to multiple roles. Please select which dashboard you would like to view.</p>
    <div>
        <a href="/dashboard/keyholder">
            <button>Keyholder Dashboard</button>
        </a>
        <p>View the Sanctums you have keys to.</p>
    </div>
    <div>
        <a href="/dashboard/sanctum">
            <button>Sanctum Owner Dashboard</button>
        </a>
        <p>Manage your Sanctum.</p>
    </div>
{% endblock %}
